[Desktop Entry]
Icon=text-html
Name=https://www.lcsc.com/product-detail/Automobile-span-style-background-color-ff0-Connectors-span_XKB-Connectivity-K174047H-2_C2999731.html
Type=Link
URL[$e]=https://www.lcsc.com/product-detail/Automobile-span-style-background-color-ff0-Connectors-span_XKB-Connectivity-K174047H-2_C2999731.html
