[Desktop Entry]
Icon=text-html
Name=https://www.lcsc.com/product-detail/Automobile-Connectors_XKB-Connection-K174051WR-2x18-PTSN_C2976094.html
Type=Link
URL[$e]=https://www.lcsc.com/product-detail/Automobile-Connectors_XKB-Connection-K174051WR-2x18-PTSN_C2976094.html
